@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #DDDBE6;
}
.top a {
    font-size: 0.8rem;
    color: #FE9900;
}
nav ul li a {
    font-weight: 500;
    color: black !important;
}
nav ul li a:hover{
    color: #f38314 !important;
   
}
nav ul li a:focus{
    background-color: #EDEDED;
}
.form-control {
    outline: none;
box-shadow:none !important;

border-color: #ccc !important;
} 
nav form .btn {
    background-color: #f38314;
    color: white;
}
nav form .btn:hover {
    background-color: #E4811C;
    color: white;
    outline: none;
    box-shadow:none !important;
}
nav input-group{
    min-width: 400px;
}
.dropdown-menu{
    min-width: 200px;
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(250,245,250,1);
}
.dropdown-item {
    font-size: 0.95rem;
}
.dropdown-item:hover {
    color: black !important;
    font-weight: bold;
}
.login, .login:focus, .login:hover {
    background-color: #f38314;
    border-radius: 10px;
    color: white !important;
    font-weight: bold;
}
.create, .create:focus, .create:hover {
    border-radius: 10px;
    color: #FE9900 !important;
    font-weight: bold;
}



.categories  a{
    color: black !important;
    font-size: 0.8rem;
}
.categories  a:hover {
    color: #FE9900 !important;
}

.section1 .carousel-inner, .section1 {
    min-height: 30vh !important;
}
.section1 .carousel-inner img  {
    min-height: 30vh !important;
    max-height: 70vh;
}

.logos .col a {
    text-decoration: none;
    color: black !important;
}
.logos .col img {
    max-width: 3rem;
    height: auto;
}

section a {
    font-size: 0.9rem;
    color: black !important;
    text-decoration: none !important;
}
section a p {
    padding-top: 0.3rem;
}
.item:hover {
    box-shadow: 0px 0px 5px 0px rgba(250,245,250,1);
}

footer .btn {
    border: 1px solid white;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}
footer .btn:hover, footer .btn:focus {
    border: 1px solid #f38314;
    color: #f38314;
}

footer .input-group {
    font-size: 0.8rem;
    flex: 1;
}
.store img {
    max-height: 2rem;
}
